{% extends 'auto_dict/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block page-wrapper %}

    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                 <h2>{{school_class.name }} with {{ school_class.teacher.first_name }}</h2>   
                    {% if user.is_authenticated %}
                    <h5>Welcome {{ user.username }}. Love to see you back. </h5>
                    {% endif %}

                    <!-- Add Steps -->


                    <div class="panel panel-default">
                        <!-- <div class="panel-heading">
                        {{school_class.name}} Steps
                        </div> -->
                        <div class="panel-body">

                            <!-- Steps Header Tabs -->
                            <ul class="nav nav-tabs">
                                

                                {% for step in school_class.steps.all %}

                                  <!-- If first item add "active" class to make link active -->
                                  <li class="{% if forloop.first %}active{% endif %}"><a href="#step{{step.id}}" data-toggle="tab">{{ forloop.counter }}) {{step.name}}</a>
                                  </li>


                                {% endfor %}

                            </ul>
                            <!-- End Steps Header Tabs -->

                            <!-- Steps Tab Content -->
                            <div class="tab-content">

                                <!-- For Loop for Steps -->
                                {% for step in school_class.steps.all %}
                                <!-- Add active in classes if first in forloop -->
                                <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" id="step{{step.id}}">
                                    <h3>Overview</h3>
                                    

                                    <p>{{step.description}}</p>

                                    <!-- Add Download Button if File Exists -->
                                    {% if step.file %}
                                    <a href="{{step.file.url}}"><button class="btn btn-primary" >Download {{step.file.name}}</button></a><br>
                                    {% endif %}
                                    
                                    <!-- Add Url Link if Url Link -->
                                    {% if step.url %}
                                    <p>Link: <a href="{{step.url}}">{{step.url}}</a></p>
                                    {% endif %}

                                    <!-- if Step Picture post picture -->
                                    {% if step.image %}
                                      <a href="{{ step.image.url }}"><img class="width60percent" src="{{ step.image.url }}"></a>
                                    {% endif %}

                                    <!-- if Step Videp post picture -->
                                    {% for video in step.videos.all %}
                                      Here is a video
                                      <video width="320" height="240" controls>
                                        <source src="{{video.file.url}}" type="video/mp4">
                                        Your browser does not support the video tag.
                                      </video>

                                    {% endfor %}


                                    <!-- If exam, post the exam link -->
                                    {% if step.exam %}
                                      <a href="{{step.exam.get_absolute_url}}">Take the Executive Function Quiz</a>
                                    {% endif%}


                                  <!-- For Loop for Articles -->
                                  {% for article in step.get_articles %}
                                  <a {% if article.url %} href="{{article.url}}" {% endif %}><h3>{{article.title}}</h3></a>

                                    <!-- For Loop for texts -->
                                    {% for text in article.get_texts %}

                                      <h4><strong>{{text.title}}</strong></h4>
                                      <p>{{text.content | linebreaks }}</p>

                                    {% endfor %}
                                    <!-- End For Loop for texts -->

                                  {% endfor %}
                                  <!-- End For Loop for Articles -->

                                </div>
                                {% endfor %} 
                                <!-- End For Loop For Steps -->

                            </div>
                            <!-- End Steps Tab Content -->

                        </div>
                    </div>



                    <!-- End Add Steps -->


                </div>
            </div>              
             <!-- /. ROW  -->
              <hr />
            <h2>Class Assistants</h2>   
            <!-- Student-Row For Loop -->
            {% for student_row in students %}

              <div class="row">
              <!-- Student For Loop -->
              {% for student in student_row %}
              
                <div class="col-md-3 col-sm-6 col-xs-6">           
                  <div class="panel panel-back noti-box">
                    <img src="{{student.user_profile.get_image_url}}" class="user-image img-responsive">
                    <div class="text-box" >

                        <!-- If first name or last name show if not then show username -->
                        {% if student.first_name or student.last_name %}
                        <p class="main-text">{{student.first_name}} {{student.last_name}}</p>
                        {% else %}
                        <p class="main-text">{{student.username}}</p>
                        {% endif %}
                        <p class="text-muted">Professional Learner</p>
                    </div>
                  </div>
                </div>
             {% endfor %}
             <!--End Student For Loop -->
             </div>

           {% endfor %}
           <!--End Student-Row For Loop -->

             <!-- /. ROW  -->

                              <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
               
                <div class="chat-panel panel panel-default chat-boder chat-panel-head" >
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i>
                        Chat Box
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-refresh fa-fw"></i>Refresh
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-check-circle fa-fw"></i>Available
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-times fa-fw"></i>Busy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-clock-o fa-fw"></i>Away
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-sign-out fa-fw"></i>Sign Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <ul class="chat-box">

                            {% for post in posts %}

                            {% if post.user == user %}
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="{{post.user.user_profile.get_image_url}}" alt="User" class="img-circle" />
                                </span>
                                <div class="chat-body">                                        
                                        <strong >{{post.user.username}}</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i>{{post.time_ago}}
                                        </small>                                      
                                    <p>
                                        {{post.content}}
                                    </p>
                                </div>
                            </li>

                            {% else %}
                            <li class="right clearfix">
                                <span class="chat-img pull-right">

                                    <img src="{{post.user.user_profile.get_image_url}}" alt="User" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    
                                        <small class=" text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i>{{post.time_ago}}</small>
                                        <strong class="pull-right">{{post.user.username}}</strong>
                                  
                                    <p>
                                        {{post.content}}
                                    </p>
                                </div>
                            </li>
                            {% endif %}

                            {% endfor %}

                            
                        </ul>
                    </div>

                    <div class="panel-footer">
                    <form action="{% url 'auto_dict:create_post' school_class_id=school_class.pk  %}" method="post">
                        <div class="input-group">
                            
                            {% csrf_token %}
                            <!-- <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message to send..." /> -->
                            {{ post_form.content }}
                            <!-- {{ form.as_p }}
                            {{ form.content|attr:"placeholder:Type Your message"|attr:"id:btn-input"|add_class:"form-control input-sm" }} -->
                            
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                                    Send
                                </button>

                            </span>
                            
                        </div>
                    </form>

                    </div>

                </div>
                
            </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                     
                     
                     <div class="panel panel-default">
                    <div class="panel-heading">
                        Achievement Points
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart"></div>
                    </div>
                </div>
                  
                </div>
            </div>     
            
             <!-- /. ROW  -->
            <div style="display:none" class="row"> 
                
                  
                           <div class="col-md-9 col-sm-12 col-xs-12">                     
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bar Chart Example
                    </div>
                    <div class="panel-body">
                        <div id="morris-bar-chart"></div>
                    </div>
                </div>            
            </div>
                <div class="col-md-3 col-sm-12 col-xs-12">                       
                <div class="panel panel-primary text-center no-boder bg-color-green">
                    <div class="panel-body">
                        <i class="fa fa-bar-chart-o fa-5x"></i>
                        <h3>120 GB </h3>
                    </div>
                    <div class="panel-footer back-footer-green">
                       Disk Space Available
                        
                    </div>
                </div>
                <div class="panel panel-primary text-center no-boder bg-color-red">
                    <div class="panel-body">
                        <i class="fa fa-edit fa-5x"></i>
                        <h3>20,000 </h3>
                    </div>
                    <div class="panel-footer back-footer-red">
                        Articles Pending
                        
                    </div>
                </div>                         
                    </div>
            
       </div>
             <!-- /. ROW  -->

     
</div>
         <!-- /. PAGE INNER  -->
        </div>
     <!-- /. PAGE WRAPPER  -->

         
{% endblock page-wrapper %}

{% block script %}
<script type="text/javascript">var students_points_data = JSON.parse("{{school_class.get_json_points_data|escapejs}}");</script>
{% endblock %}