{% extends 'auto_dict/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block page-wrapper %}

    <div id="page-wrapper" >
        <div id="page-inner">

            <!-- Welcome Back  -->
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2>{{school_class.name}}</h2>   
                    {% if user.is_authenticated %}
                    <h5>Welcome {{ user.username }} , Love to see you back. </h5>
                    {% endif %}
                </div>

            <!-- Start Chat Box Column -->
            <div class="col-md-6 col-sm-12 col-xs-12">
               
                <div class="chat-panel panel panel-default chat-boder chat-panel-head" >
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i>
                        Chat Box
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-refresh fa-fw"></i>Refresh
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-check-circle fa-fw"></i>Available
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-times fa-fw"></i>Busy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-clock-o fa-fw"></i>Away
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-sign-out fa-fw"></i>Sign Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <ul class="chat-box">

                            {% for post in posts %}

                            {% if post.user == user %}
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="{{post.user.user_profile.get_image_url}}" alt="User" class="img-circle" />
                                </span>
                                <div class="chat-body">                                        
                                        <strong >{{post.user.username}}</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i>{{post.time_ago}}
                                        </small>                                      
                                    <p>
                                        {{post.content}}
                                    </p>
                                </div>
                            </li>

                            {% else %}
                            <li class="right clearfix">
                                <span class="chat-img pull-right">

                                    <img src="{{post.user.user_profile.get_image_url}}" alt="User" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    
                                        <small class=" text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i>{{post.time_ago}}</small>
                                        <strong class="pull-right">{{post.user.username}}</strong>
                                  
                                    <p>
                                        {{post.content}}
                                    </p>
                                </div>
                            </li>
                            {% endif %}

                            {% endfor %}

                            
                        </ul>
                    </div>

                    <div class="panel-footer">
                    <form action="{% url 'auto_dict:create_post' school_class_id=school_class.pk  %}" method="post">
                        <div class="input-group">
                            
                            {% csrf_token %}
                            <!-- <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message to send..." /> -->
                            {{ post_form.content }}
                            <!-- {{ form.as_p }}
                            {{ form.content|attr:"placeholder:Type Your message"|attr:"id:btn-input"|add_class:"form-control input-sm" }} -->
                            
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                                    Send
                                </button>

                            </span>
                            
                        </div>
                    </form>

                    </div>

                </div>
                
            </div>
            <!-- End Chat Box Column -->


            </div>              
             <!-- /. ROW  -->
              <hr />
            <h2>Class Assistants</h2>   
            <!-- Student-Row For Loop -->
            {% for student_row in students %}

              <div class="row">
              <!-- Student For Loop -->
              {% for student in student_row %}
              
                <div class="col-md-3 col-sm-6 col-xs-6">           
                  <div class="panel panel-back noti-box">
                    <img src="{{student.user_profile.get_image_url}}" class="user-image img-responsive">
                    <div class="text-box" >

                        <!-- If first name or last name show if not then show username -->
                        {% if student.first_name or student.last_name %}
                        <p class="main-text">{{student.first_name}} {{student.last_name}}</p>
                        {% else %}
                        <p class="main-text">{{student.username}}</p>
                        {% endif %}
                        <p class="text-muted">Professional Learner</p>
                    </div>
                  </div>
                </div>
             {% endfor %}
             <!--End Student For Loop -->
             </div>

           {% endfor %}
           <!--End Student-Row For Loop -->

             <!-- /. ROW  -->

                              <!-- /. ROW  -->
            <div class="row">

                
            </div>     
             <!-- /. ROW  -->  

            <hr />                
            
     
</div>
         <!-- /. PAGE INNER  -->
        </div>
     <!-- /. PAGE WRAPPER  -->

         
{% endblock page-wrapper %}

{% block script %}
<script type="text/javascript">var students_points_data = JSON.parse("{{school_class.get_json_points_data|escapejs}}");</script>
{% endblock %}